<div class="row">
    <div class="col-xs-2 visOutside text-center">
        <label>VISUAL</label>
        {{ switch }}
        <div class="text-center visBtn" ng-click="switch('freqBars')">| | |</div>
        <div class="text-center visBtn" ng-click="switch('optic')">3D</div>
        <div class="text-center visBtn" ng-click="switch('o2')">o2</div>
    </div>
    <div class="col-xs-2 text-center outside">
        <form>
            <label for="osc">Volume
                <input type="range" name="rangeV" ng-model="vol.value" step=".2" min="{{min}}" max="{{max}}" class="verticalRange">
                {{ vol.value }}
            </label>
        </form>
        <div class="text-center visBtn" ng-click="event=$event; noteStop(); keyOff()">Kill Sound</div>
    </div>

    <div class="col-xs-2 text-center outsideWave">
        <form>
            <label for="wave 1">Wave 1
                {{ wave.value }}
                <div class="row">
                    <div class="col-xs-6 text-center waveBtn" ng-click="wave.value = 'sine'">

                        &#8767;

                    </div>
                    <div class="col-xs-6 text-center waveBtn" ng-click="wave.value = 'square'">
                        [ ]

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 text-center waveBtn" ng-click="wave.value = 'triangle'">

                        /\
                    </div>
                    <div class="col-xs-6 text-center waveBtn " ng-click="wave.value = 'sawtooth'">
                        /\/
                    </div>

                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <label>Detune</label>
                      </div>
                        <input class="detune dial2" ng-model="detune.value" step=".1" min="-200" max="200" value="11.2"  data-angleOffset="-125" data-angleArc="250">
                      </div>
            </label>
        </form>
    </div>

    <div class="col-xs-2 text-center outsideWave">
        <form>
            <label for="wave 2">Wave 2
                {{ wave2.value }}
                <div class="row">
                    <div class="col-xs-6 text-center waveBtn" ng-click="wave2.value = 'sine'">

                        &#8767;

                    </div>
                    <div class="col-xs-6 text-center waveBtn" ng-click="wave2.value = 'square'">
                        [ ]

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 text-center waveBtn" ng-click="wave2.value = 'triangle'">

                        /\
                    </div>
                    <div class="col-xs-6 text-center waveBtn " ng-click="wave2.value = 'sawtooth'">
                        /\/
                    </div>

                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <label>Detune</label>
                      </div>
                        <input class="detune dial" ng-model="detune2.value" step=".1" min="-200" max="200" value="11.2"  data-angleOffset="-125" data-angleArc="250">
                      </div>
                      </label>
        </form>
    </div>
    <div class="col-xs-2 outsideFilter ">
        <label>BiQuad Filter Control Pad</label>
        <fieldset class="pad" data-width="180" data-height="180">
            <label>Frequency :</label>
            <input style="display: none" name="x"><label>{{ filterFreq }}</label>
            <label>Q :</label>
            <input style="display: none" name="y"><label>{{ filterQ }}</label>
        </fieldset>
    </div>
    <div class="col-xs-2 fOutside text-center">
        <label>FILTER {{ filterType }}</label>
        <div class="text-center fBtn" ng-click="filterType = 'lowpass'">low pass</div>

        <div class="text-center fBtn" ng-click="filterType = 'bandpass'">band pass</div>
        <div class="text-center fBtn" ng-click="filterType = 'highpass'">high pass</div>

    </div>
</div>
