<div class="row">
  <div class="col-sm-12">
    <div class="wrapper" id="keyboard" ng-keydown="noteStart()" ng-keyup="noteStop()">

        <div class="key two">
            <div class="blackKey" ></div>
        </div>
        <div class="key three">
            <div class="blackKey"></div>
            <div class="whiteKey" title="C" ng-keydown="noteStart()" ng-keyup="noteStop()">C</div>
        </div>
        <div class="key four">
            <div class="whiteKey">D</div>
        </div>

        <div class="key two">
            <div class="blackKey"></div>
            <div class="whiteKey">E</div>
        </div>
        <div class="key three oct">
            <div class="blackKey"></div>
            <div class="whiteKey">F</div>
        </div>
        <div class="key four">
          <div class="blackKey"></div>
            <div class="whiteKey">G</div>
        </div>
        <div class="key two">
            <div class="whiteKey">A</div>
        </div>
        <div class="key three">
            <div class="blackKey"></div>
            <div class="whiteKey">B</div>
        </div>
        <div class="key four">
          <div class="blackKey"></div>
            <div class="whiteKey">C</div>
        </div>
        <div class="key">
            <div class="whiteKey">D</div>
        </div>
        <div class="key four">
          <div class="blackKey"></div>
            <div class="whiteKey">E</div>
        </div>
        <div class="key four">
          <div class="blackKey"></div>
            <div class="whiteKey">F</div>
        </div>
        <div class="key four">
          <div class="blackKey"></div>
            <div class="whiteKey">G</div>
        </div>
        <div class="key four">
            <div class="whiteKey">A</div>
        </div>
        <div class="key four">
            <div class="whiteKey">B</div>
        </div>
        <div class="key four">
            <div class="whiteKey">C</div>
        </div>
    </div>
  </div>
</div>
