<div class="container">
    <div class="wrapper">
        <div class="key two">
            <div class="blackKey"></div>
        </div>
        <div class="key three">
            <div class="blackKey"></div>
            <div class="whiteKey"></div>
        </div>
        <div class="key four">
            <div class="whiteKey"></div>
        </div>

        <div class="key two">
            <div class="blackKey"></div>
            <div class="whiteKey"></div>
        </div>
        <div class="key three oct">
            <div class="blackKey"></div>
            <div class="whiteKey"></div>
        </div>
        <div class="key four">
          <div class="blackKey"></div>
            <div class="whiteKey"></div>
        </div>
        <div class="key two">
            <div class="whiteKey"></div>
        </div>
        <div class="key three">
            <div class="blackKey"></div>
            <div class="whiteKey"></div>
        </div>
        <div class="key four">
          <div class="blackKey"></div>
            <div class="whiteKey"></div>
        </div>
        <div class="key">
            <div class="whiteKey"></div>
        </div>
        <div class="key four">
          <div class="blackKey"></div>

            <div class="whiteKey"></div>
        </div>
        <div class="key four">
          <div class="blackKey"></div>

            <div class="whiteKey"></div>
        </div>
        <div class="key four">
          <div class="blackKey"></div>
            <div class="whiteKey"></div>
        </div>
        <div class="key four">
            <div class="whiteKey"></div>
        </div>
        <div class="key four">
            <div class="whiteKey"></div>
        </div>
        <div class="key four">
            <div class="whiteKey"></div>
        </div>
    </div>

</div>
