<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <h1>Socket Synth.html</h1>
    </div>
    <div class="col-xs-6 col-md-4"></div>
</div>
<div class="row" ng-controller='ChatCtrl'>
    <div class="col-sm-12">
        <p ng-repeat='message in messages'></p>
    </div>
    <div class="col-sm-12">
        <form class="" action="index.html" method="post" ng-submit='sendMessage()'>
            <input type="text" name="message" value="" ng-model='message'>
            <input type="button" name="submit" type='submit' , value='Send'>
        </form>
    </div>
</div>
