body {
  background-color: #2A2B2C;
  color: #00CCFF;

}
.fa-github {
  font-size: 2.5rem;
}
/*Keyboard Styles*/
.wrapper {
  font-size: 1.5rem;
  margin: auto;
  font-family: 'Nova Mono', monospace;
}

.key {
  width: 35px;
  float: left;
  margin: 2px;
  position: relative;
}

.blackKey {
  width: 20px;
  height: 70px;
  background: black;
  border-radius: 5px;
  position: absolute;
  left: 68px;
  z-index: 10;

}

.whiteKey {
  width: 35px;
  height: 100px;
  background: white;
  border-radius: 5px;
  z-index: 5;
  margin: 2px;
  box-shadow: 0px 0px 0px 3px hsla(0, 0%, 100%, 0.3);

}

.whiteKey:hover {
  background: #d2d1d2;
}
.blackKey:hover {
  background: #201f20;
}
/* Control Panel */
main {
  border-style: solid;
  border-color: #00CCFF;
  border-width: medium;
  border-radius: 4px;
}
.outside {
  border-style: solid;
  border-color: #00CCFF;
  border-width: medium;
  border-radius: 2px;
  margin: 10px;
  width: 80px;
  height: 230px;
}
.fOutside {
  border-style: solid;
  border-color: #00CCFF;
  border-width: medium;
  border-radius: 2px;
  margin: 10px;
  width: 90px;
  height: 230px;
}
.fBtn {
  border-style: solid;
  border-color: #00CCFF;
  border-width:thin;
  border-radius: 2px;
  width: 50px;
  height: 45px;
  margin: 1rem 2rem 0em 0rem;
}
.fBtn:hover {
  background: hsla(187.7, 91.36%, 31.76%, 0.3);
  box-shadow: 0px 0px 2px 2px hsla(0, 0%, 100%, 0.3);
}
.fBtn:active {
  background: -webkit-radial-gradient( circle, #FFFFFF 10%, #33CC66 80%);
  box-shadow: 0px 0px 3px 3px hsl(0, 35%, 93%)
  text-align: center;
}
.visOutside {
  border-style: solid;
  border-color: #00CCFF;
  border-width: medium;
  border-radius: 2px;
  margin: 10px;
  width: 80px;
  height: 230px;
}
.visBtn {
  border-style: solid;
  border-color: #00CCFF;
  border-width:thin;
  border-radius: 2px;
  width: 46px;
  height: 46px;
  margin: 1rem 2rem 0em 0rem;
}

.visBtn:hover {
  background: hsla(187.7, 91.36%, 31.76%, 0.3);
  box-shadow: 0px 0px 2px 2px hsla(0, 0%, 100%, 0.3);
}
.visBtn:active {
  background: -webkit-radial-gradient( circle, #FFFFFF 10%, #CC332A 80%);
  box-shadow: 0px 0px 3px 3px hsl(0, 35%, 93%)
  text-align: center;
}
.verticalRange {
    -webkit-appearance: slider-vertical;
    background-color: #ccc;
    height: 112px;
    width: 2px;
    margin: 4px ;
}
.inputBox {
  border-style: solid;
  border-color: #00CCFF;
  border-width: medium;
  border-radius: 2px;
  font-size: 1.5rem;
  width: 36rem;
  height: 4rem;
  margin: 1rem;
  padding-top: .5rem;
}

.outsideWave {
  border-style: solid;
  border-color: #00CCFF;
  border-width: medium;
  border-radius: 2px;
  margin: 10px;
  width: 160px;
  height: 230px;
}
.outsideFilter {
  border-style: solid;
  border-color: #00CCFF;
  border-width: medium;
  border-radius: 2px;
  margin: 10px;
  width: auto;
  height: 230px;
  padding: 4px 4px 4px 4px;
}
.waveBtn {
  border-style: solid;
  border-color: #00CCFF;
  border-width:thin;
  border-radius: 2px;
  margin: 4px;
  width: 60px;
  height: 60px;
}

.waveBtn:hover {
  background: hsla(187.7, 91.36%, 31.76%, 0.3);
  box-shadow: 0px 0px 2px 2px hsla(0, 0%, 100%, 0.3);
}
.waveBtn:active {
  background: -webkit-radial-gradient( circle, #81C2CC 10%, #39A0AF 80%);
  box-shadow: 0px 0px 3px 3px hsl(0, 35%, 93%)
  text-align: center;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.analyserContainer {
  border-style: solid;
  border-color: #00CCFF;
  border-width: medium;
  border-radius: 2px;
  margin: 10px;
  width: 600px;
  height: 200px;
}
.analyserCtrl {
  border-style: solid;
  border-color: #00CCFF;
  border-width: medium;
  border-radius: 2px;
  margin: 10px;
  width: 80px;
  height: 200px;
}
.whiteKey p{
  position: absolute;
      bottom: 0;
      left: 1rem;
      text-align: justify;
 }
 .blackKey p{
   position: absolute;
       bottom: 0;
       left: .5rem;
       text-align: justify;
       color: white;
  }
.pad {
  font-size: 2rem;
}
